.App{
  text-align: center;
}

.App-header {
  background-color: #f6850a;
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-size: calc(10px + 1.2vmin);
  color: #fcefeb;
}
