.Banner {
    background-color: #452316;
}

.Banner-header {
    min-height: 10vh;
    font-family: honeyFont;
    color: #ecc498;
    display: inline-flex;
}

.Banner-logo {
    max-width: 60px;
    max-height: 60px;
    margin: 8px;
}

.Title-text {
    margin: auto 8px auto 8px;
    font-size: 3em;
}