.todo-block {
    display: flex;
    list-style-type: none;
    padding: 2px;
    margin: 4px;
    background-color: #452316;
    border: 8px;
    border-radius: 12px;
}

.todo-content {
    max-width: 200px;
    margin: auto;
    user-select: none;
}

.complete {
    background-color: #846464;
}

