.add-todo {
    display: flex;
    background-color: #452316;
    margin: none;
    margin-bottom: 0;
    padding: 8px;
    border: 8px;
    border-radius: 12px;
}

.input-field {
    color: #fcefeb;
    outline: none;
    background-color: transparent;
    font-size: calc(10px + 1.2vmin);
    border: none;
}

.input-add {
    background-color: transparent;
    border: none;
}

.todo-list {
    background-color: #ecc498;
    margin-top: 20px;
    padding: 6px;
    border: 12px;
    border-radius: 12px;
}

.icon {
    color: #fcefeb;
    width:30px;
    height:30px;
    margin: 0;
}
